# Moteur de recommandation - analyse exploratoire
Important : le fichier de données doit se trouver dans le répertoire courant.

## Initialisation

In [1]:
from IPython.display import display
import math
import matplotlib
import matplotlib.pyplot as plt
import numpy as np
import os
import pandas as pd
import seaborn as sns
from sklearn.cluster import KMeans
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics import pairwise_distances
from sklearn.metrics import silhouette_samples, silhouette_score
from sklearn.preprocessing import MultiLabelBinarizer
import sys
import warnings

pd.options.display.float_format = '{:,.3f}'.format
input_file = 'movie_metadata.csv'
output_file = 'imdb.csv'
print(f"Version de matplotlib : {matplotlib.__version__}")
print(f"Version de pandas : {pd.__version__}")
print(f"Version de Python : {sys.version}")

Version de matplotlib : 2.2.2
Version de pandas : 0.23.3
Version de Python : 3.6.6 |Anaconda custom (64-bit)| (default, Jun 28 2018, 11:27:44) [MSC v.1900 64 bit (AMD64)]

## Chargement et nettoyage des données

### Chargement

In [2]:
data = pd.read_csv(input_file, delimiter=',')

In [3]:
print(data.info(memory_usage='deep'))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 28 columns):
color                        5024 non-null object
director_name                4939 non-null object
num_critic_for_reviews       4993 non-null float64
duration                     5028 non-null float64
director_facebook_likes      4939 non-null float64
actor_3_facebook_likes       5020 non-null float64
actor_2_name                 5030 non-null object
actor_1_facebook_likes       5036 non-null float64
gross                        4159 non-null float64
genres                       5043 non-null object
actor_1_name                 5036 non-null object
movie_title                  5043 non-null object
num_voted_users              5043 non-null int64
cast_total_facebook_likes    5043 non-null int64
actor_3_name                 5020 non-null object
facenumber_in_poster         5030 non-null float64
plot_keywords                4890 non-null object
movie_imdb_link              5043 non-null object
num_user_for_reviews         5022 non-null float64
language                     5031 non-null object
country                      5038 non-null object
content_rating               4740 non-null object
budget                       4551 non-null float64
title_year                   4935 non-null float64
actor_2_facebook_likes       5030 non-null float64
imdb_score                   5043 non-null float64
aspect_ratio                 4714 non-null float64
movie_facebook_likes         5043 non-null int64
dtypes: float64(13), int64(3), object(12)
memory usage: 5.0 MB
None

### Affichage d'un échantillon

In [4]:
data.head(10)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.000,178.000,0.000,855.000,Joel David Moore,"1,000.000","760,505,847.000",Action|Adventure|Fantasy|Sci-Fi,...,"3,054.000",English,USA,PG-13,"237,000,000.000","2,009.000",936.000,7.900,1.780,33000
1,Color,Gore Verbinski,302.000,169.000,563.000,"1,000.000",Orlando Bloom,"40,000.000","309,404,152.000",Action|Adventure|Fantasy,...,"1,238.000",English,USA,PG-13,"300,000,000.000","2,007.000","5,000.000",7.100,2.350,0
2,Color,Sam Mendes,602.000,148.000,0.000,161.000,Rory Kinnear,"11,000.000","200,074,175.000",Action|Adventure|Thriller,...,994.000,English,UK,PG-13,"245,000,000.000","2,015.000",393.000,6.800,2.350,85000
3,Color,Christopher Nolan,813.000,164.000,"22,000.000","23,000.000",Christian Bale,"27,000.000","448,130,642.000",Action|Thriller,...,"2,701.000",English,USA,PG-13,"250,000,000.000","2,012.000","23,000.000",8.500,2.350,164000
4,NaN,Doug Walker,nan,nan,131.000,nan,Rob Walker,131.000,nan,Documentary,...,nan,NaN,NaN,NaN,nan,nan,12.000,7.100,nan,0
5,Color,Andrew Stanton,462.000,132.000,475.000,530.000,Samantha Morton,640.000,"73,058,679.000",Action|Adventure|Sci-Fi,...,738.000,English,USA,PG-13,"263,700,000.000","2,012.000",632.000,6.600,2.350,24000
6,Color,Sam Raimi,392.000,156.000,0.000,"4,000.000",James Franco,"24,000.000","336,530,303.000",Action|Adventure|Romance,...,"1,902.000",English,USA,PG-13,"258,000,000.000","2,007.000","11,000.000",6.200,2.350,0
7,Color,Nathan Greno,324.000,100.000,15.000,284.000,Donna Murphy,799.000,"200,807,262.000",Adventure|Animation|Comedy|Family|Fantasy|Musi...,...,387.000,English,USA,PG,"260,000,000.000","2,010.000",553.000,7.800,1.850,29000
8,Color,Joss Whedon,635.000,141.000,0.000,"19,000.000",Robert Downey Jr.,"26,000.000","458,991,599.000",Action|Adventure|Sci-Fi,...,"1,117.000",English,USA,PG-13,"250,000,000.000","2,015.000","21,000.000",7.500,2.350,118000
9,Color,David Yates,375.000,153.000,282.000,"10,000.000",Daniel Radcliffe,"25,000.000","301,956,980.000",Adventure|Family|Fantasy|Mystery,...,973.000,English,UK,PG,"250,000,000.000","2,009.000","11,000.000",7.500,2.350,10000

### Traitement des valeurs manquantes

#### Répartition des valeurs manquantes

In [5]:
totals_by_colon = data.isnull().sum(axis=0)
print(totals_by_colon[totals_by_colon != 0])
print(f"Nombre de lignes contenant des données manquantes : {data.isnull().any(axis=1).sum()}")

color                       19
director_name              104
num_critic_for_reviews      50
duration                    15
director_facebook_likes    104
actor_3_facebook_likes      23
actor_2_name                13
actor_1_facebook_likes       7
gross                      884
actor_1_name                 7
actor_3_name                23
facenumber_in_poster        13
plot_keywords              153
num_user_for_reviews        21
language                    12
country                      5
content_rating             303
budget                     492
title_year                 108
actor_2_facebook_likes      13
aspect_ratio               329
dtype: int64
Nombre de lignes contenant des données manquantes : 1287

#### Imputation des données manquantes
Pour les colonnes `gross` et `budget` nous remplaçons les valeurs manquantes par des zéros, ce qui revient à considérer les films concernés comme étant peu commerciaux.

In [6]:
data['gross'].fillna(0, inplace=True)
data['budget'].fillna(0, inplace=True)

Idem pour le nombre de pouces bleus.

In [7]:
fb_cols = [col for col in data.columns if 'facebook_likes' in col]
data[fb_cols] = data[fb_cols].fillna(0, inplace=False)

Nous considérons l'absence de classification comme équivalente à Unrated.

In [8]:
data['content_rating'].fillna('Unrated', inplace=True)

Pour `plot_keywords` et les noms d'acteurs et de réalisateurs, nous remplaçons les valeurs manquantes par des chaînes vides.

In [9]:
data['plot_keywords'].fillna('', inplace=True)
data['director_name'].fillna('', inplace=True)
data['actor_1_name'].fillna('', inplace=True)
data['actor_2_name'].fillna('', inplace=True)
data['actor_3_name'].fillna('', inplace=True)

Nous remplaçons NaN dans la colonne `title_year` par la valeur moyenne.

In [10]:
print(f"Année moyenne de sortie : {int(data['title_year'].mean())}")
data['title_year'].fillna(int(data['title_year'].mean()), inplace=True)

Année moyenne de sortie : 2002

#### Suppression des colonnes inutiles
Plutôt que de les traiter par imputation, nous supprimons certaines colonnes qui rétrospectivement nous semblent peu pertinentes pour faire des recommandations.

In [11]:
unneeded_cols = ['aspect_ratio', 
                 'color', 
                 'facenumber_in_poster']
data.drop(columns=unneeded_cols, errors='ignore', inplace=True)

#### Nouvelles répartition des valeurs manquantes

In [12]:
totals_by_colon = data.isnull().sum(axis=0)
print(totals_by_colon[totals_by_colon != 0])
print(f"Nombre de lignes contenant des données manquantes : {data.isnull().any(axis=1).sum()}")

num_critic_for_reviews    50
duration                  15
num_user_for_reviews      21
language                  12
country                    5
dtype: int64
Nombre de lignes contenant des données manquantes : 73

#### Effacement des lignes contenant des valeurs manquantes
Nous serons probablement amenés à affiner cette stratégie.

In [13]:
print(f"Taille des données avant effacement : {data.shape}")
data.dropna(inplace=True)
print(f"Nouvelle taille des données : {data.shape}")

Taille des données avant effacement : (5043, 25)
Nouvelle taille des données : (4970, 25)

### Nettoyage : titres

In [14]:
data['movie_title'] = data['movie_title'].str.strip()

### Traitement des doublons

#### Identifications des doublons intégraux

In [15]:
display_cols = ['movie_title', 'director_name', 'num_critic_for_reviews', 'duration',
                'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
                'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
                'num_voted_users', 'cast_total_facebook_likes', 'actor_3_name',  
                'movie_imdb_link', 'num_user_for_reviews', 
                'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
                'imdb_score', 'movie_facebook_likes']
dups = data.duplicated()
print(f"Nombre de doublons intégraux : {sum(dups)}")
data.loc[data.duplicated(keep=False), display_cols].sort_values('movie_title')

Nombre de doublons intégraux : 44

,movie_title,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,cast_total_facebook_likes,actor_3_name,movie_imdb_link,num_user_for_reviews,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,movie_facebook_likes
4949,A Dog's Breakfast,David Hewlett,8.000,88.000,686.000,405.000,David Hewlett,847.000,0.000,Comedy,...,2364,Paul McGillion,http://www.imdb.com/title/tt0796314/?ref_=fn_t...,46.000,Unrated,"120,000.000","2,007.000",686.000,7.000,377
4950,A Dog's Breakfast,David Hewlett,8.000,88.000,686.000,405.000,David Hewlett,847.000,0.000,Comedy,...,2364,Paul McGillion,http://www.imdb.com/title/tt0796314/?ref_=fn_t...,46.000,Unrated,"120,000.000","2,007.000",686.000,7.000,377
4408,"A Woman, a Gun and a Noodle Shop",Yimou Zhang,101.000,95.000,611.000,3.000,Ni Yan,9.000,"190,666.000",Comedy|Drama,...,18,Dahong Ni,http://www.imdb.com/title/tt1428556/?ref_=fn_t...,20.000,R,0.000,"2,009.000",4.000,5.700,784
3007,"A Woman, a Gun and a Noodle Shop",Yimou Zhang,101.000,95.000,611.000,3.000,Ni Yan,9.000,"190,666.000",Comedy|Drama,...,18,Dahong Ni,http://www.imdb.com/title/tt1428556/?ref_=fn_t...,20.000,R,0.000,"2,009.000",4.000,5.700,784
2562,Bad Moms,Jon Lucas,81.000,100.000,24.000,851.000,Jay Hernandez,"15,000.000","55,461,307.000",Comedy,...,18786,Jada Pinkett Smith,http://www.imdb.com/title/tt4651520/?ref_=fn_t...,46.000,R,"20,000,000.000","2,016.000","1,000.000",6.700,18000
2181,Bad Moms,Jon Lucas,81.000,100.000,24.000,851.000,Jay Hernandez,"15,000.000","55,461,307.000",Comedy,...,18786,Jada Pinkett Smith,http://www.imdb.com/title/tt4651520/?ref_=fn_t...,46.000,R,"20,000,000.000","2,016.000","1,000.000",6.700,18000
2798,Big Fat Liar,Shawn Levy,69.000,88.000,189.000,799.000,Donald Faison,934.000,"47,811,275.000",Adventure|Comedy|Family,...,3707,Lee Majors,http://www.imdb.com/title/tt0265298/?ref_=fn_t...,99.000,PG,"15,000,000.000","2,002.000",927.000,5.400,896
2628,Big Fat Liar,Shawn Levy,69.000,88.000,189.000,799.000,Donald Faison,934.000,"47,811,275.000",Adventure|Comedy|Family,...,3707,Lee Majors,http://www.imdb.com/title/tt0265298/?ref_=fn_t...,99.000,PG,"15,000,000.000","2,002.000",927.000,5.400,896
4942,Cat People,Paul Schrader,130.000,93.000,261.000,697.000,Ruby Dee,783.000,0.000,Fantasy|Horror|Thriller,...,3700,John Heard,http://www.imdb.com/title/tt0083722/?ref_=fn_t...,106.000,R,"18,000,000.000","1,982.000",782.000,6.100,0
2902,Cat People,Paul Schrader,130.000,93.000,261.000,697.000,Ruby Dee,783.000,0.000,Fantasy|Horror|Thriller,...,3700,John Heard,http://www.imdb.com/title/tt0083722/?ref_=fn_t...,106.000,R,"18,000,000.000","1,982.000",782.000,6.100,0
3193,Crash,Paul Haggis,287.000,115.000,549.000,911.000,Loretta Devine,"3,000.000","54,557,348.000",Crime|Drama|Thriller,...,5732,Jennifer Esposito,http://www.imdb.com/title/tt0375679/?ref_=fn_t...,"1,624.000",R,"6,500,000.000","2,004.000",912.000,7.900,18000
3452,Crash,Paul Haggis,287.000,115.000,549.000,911.000,Loretta Devine,"3,000.000","54,557,348.000",Crime|Drama|Thriller,...,5732,Jennifer Esposito,http://www.imdb.com/title/tt0375679/?ref_=fn_t...,"1,624.000",R,"6,500,000.000","2,004.000",912.000,7.900,18000
2935,Crossroads,Tamra Davis,111.000,93.000,33.000,135.000,Katherine Boecher,"1,000.000","37,188,667.000",Comedy|Drama,...,1531,Dave Allen,http://www.imdb.com/title/tt0275022/?ref_=fn_t...,578.000,PG-13,"12,000,000.000","2,002.000",188.000,3.300,0
4769,Crossroads,Tamra Davis,111.000,93.000,33.000,135.000,Katherine Boecher,"1,000.000","37,188,667.000",Comedy|Drama,...,1531,Dave Allen,http://www.imdb.com/title/tt0275022/?ref_=fn_t...,578.000,PG-13,"12,000,000.000","2,002.000",188.000,3.300,0
2016,Dangerous Liaisons,Stephen Frears,51.000,119.000,350.000,418.000,Peter Capaldi,"18,000.000","34,700,000.000",Drama|Romance,...,35501,Swoosie Kurtz,http://www.imdb.com/title/tt0094947/?ref_=fn_t...,143.000,R,"14,000,000.000","1,988.000","17,000.000",7.700,0
2777,Dangerous Liaisons,Stephen Frears,51.000,119.000,350.000,418.000,Peter Capaldi,"18,000.000","34,700,000.000",Drama|Romance,...,35501,Swoosie Kurtz,http://www.imdb.com/title/tt0094947/?ref_=fn_t...,143.000,R,"14,000,000.000","1,988.000","17,000.000",7.700,0
2134,Death at a Funeral,Frank Oz,168.000,87.000,0.000,548.000,Ewen Bremner,"22,000.000","8,579,684.000",Comedy,...,24324,Kris Marshall,http://www.imdb.com/title/tt0795368/?ref_=fn_t...,199.000,R,"9,000,000.000","2,007.000",557.000,7.400,0
2292,Death at a Funeral,Frank Oz,168.000,87.000,0.000,548.000,Ewen Bremner,"22,000.000","8,579,684.000",Comedy,...,24324,Kris Marshall,http://www.imdb.com/title/tt0795368/?ref_=fn_t...,199.000,R,"9,000,000.000","2,007.000",557.000,7.400,0
249,Fantastic Four,Josh Trank,369.000,100.000,128.000,78.000,Reg E. Cathey,596.000,"56,114,221.000",Action|Adventure|Sci-Fi,...,1261,Tim Heidecker,http://www.imdb.com/title/tt1502712/?ref_=fn_t...,695.000,PG-13,"120,000,000.000","2,015.000",360.000,4.300,41000
389,Fantastic Four,Josh Trank,369.000,100.000,128.000,78.000,Reg E. Cathey,596.000,"56,114,221.000",Action|Adventure|Sci-Fi,...,1261,Tim Heidecker,http://www.imdb.com/title/tt1502712/?ref_=fn_t...,695.000,PG-13,"120,000,000.000","2,015.000",360.000,4.300,41000
2025,Footloose,Herbert Ross,60.000,107.000,71.000,304.000,Chris Penn,967.000,"80,000,000.000",Drama|Music|Romance,...,1962,Lori Singer,http://www.imdb.com/title/tt0087277/?ref_=fn_t...,113.000,PG,"8,200,000.000","1,984.000",455.000,6.500,0
3345,Footloose,Herbert Ross,60.000,107.000,71.000,304.000,Chris Penn,967.000,"80,000,000.000",Drama|Music|Romance,...,1962,Lori Singer,http://www.imdb.com/title/tt0087277/?ref_=fn_t...,113.000,PG,"8,200,000.000","1,984.000",455.000,6.500,0
2472,Forsaken,Jon Cassar,45.000,90.000,78.000,720.000,Landon Liboiron,"2,000.000",0.000,Drama|Western,...,4142,Michael Wincott,http://www.imdb.com/title/tt2271563/?ref_=fn_t...,49.000,R,"11,000,000.000","2,015.000","1,000.000",6.300,0
2073,Forsaken,Jon Cassar,45.000,90.000,78.000,720.000,Landon Liboiron,"2,000.000",0.000,Drama|Western,...,4142,Michael Wincott,http://www.imdb.com/title/tt2271563/?ref_=fn_t...,49.000,R,"11,000,000.000","2,015.000","1,000.000",6.300,0
1449,From Hell,Albert Hughes,208.000,122.000,117.000,140.000,Jason Flemyng,"40,000.000","31,598,308.000",Horror|Mystery|Thriller,...,41636,Ian Richardson,http://www.imdb.com/title/tt0120681/?ref_=fn_t...,541.000,R,"35,000,000.000","2,001.000","1,000.000",6.800,0
1096,From Hell,Albert Hughes,208.000,122.000,117.000,140.000,Jason Flemyng,"40,000.000","31,598,308.000",Horror|Mystery|Thriller,...,41636,Ian Richardson,http://www.imdb.com/title/tt0120681/?ref_=fn_t...,541.000,R,"35,000,000.000","2,001.000","1,000.000",6.800,0
98,Godzilla Resurgence,Hideaki Anno,1.000,120.000,28.000,12.000,Shin'ya Tsukamoto,544.000,0.000,Action|Adventure|Drama|Horror|Sci-Fi,...,699,Atsuko Maeda,http://www.imdb.com/title/tt4262980/?ref_=fn_t...,13.000,Unrated,0.000,"2,016.000",106.000,8.200,0
204,Godzilla Resurgence,Hideaki Anno,1.000,120.000,28.000,12.000,Shin'ya Tsukamoto,544.000,0.000,Action|Adventure|Drama|Horror|Sci-Fi,...,699,Atsuko Maeda,http://www.imdb.com/title/tt4262980/?ref_=fn_t...,13.000,Unrated,0.000,"2,016.000",106.000,8.200,0
2619,Halloween,John Carpenter,318.000,101.000,0.000,598.000,Donald Pleasence,"2,000.000","47,000,000.000",Horror|Thriller,...,4400,P.J. Soles,http://www.imdb.com/title/tt0077651/?ref_=fn_t...,"1,191.000",R,"300,000.000","1,978.000",742.000,7.900,12000
2492,Halloween,John Carpenter,318.000,101.000,0.000,598.000,Donald Pleasence,"2,000.000","47,000,000.000",Horror|Thriller,...,4400,P.J. Soles,http://www.imdb.com/title/tt0077651/?ref_=fn_t...,"1,191.000",R,"300,000.000","1,978.000",742.000,7.900,12000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17,The Avengers,Joss Whedon,703.000,173.000,0.000,"19,000.000",Robert Downey Jr.,"26,000.000","623,279,547.000",Action|Adventure|Sci-Fi,...,87697,Scarlett Johansson,http://www.imdb.com/title/tt0848228/?ref_=fn_t...,"1,722.000",PG-13,"220,000,000.000","2,012.000","21,000.000",8.100,123000
794,The Avengers,Joss Whedon,703.000,173.000,0.000,"19,000.000",Robert Downey Jr.,"26,000.000","623,279,547.000",Action|Adventure|Sci-Fi,...,87697,Scarlett Johansson,http://www.imdb.com/title/tt0848228/?ref_=fn_t...,"1,722.000",PG-13,"220,000,000.000","2,012.000","21,000.000",8.100,123000
4927,The Calling,Jason Stone,48.000,108.000,14.000,826.000,Ellen Burstyn,"2,000.000",0.000,Thriller,...,4385,Christopher Heyerdahl,http://www.imdb.com/title/tt1666335/?ref_=fn_t...,28.000,R,0.000,"2,014.000","1,000.000",5.800,0
4223,The Calling,Jason Stone,48.000,108.000,14.000,826.000,Ellen Burstyn,"2,000.000",0.000,Thriller,...,4385,Christopher Heyerdahl,http://www.imdb.com/title/tt1666335/?ref_=fn_t...,28.000,R,0.000,"2,014.000","1,000.000",5.800,0
3480,The Claim,Michael Winterbottom,71.000,115.000,187.000,887.000,Sarah Polley,"14,000.000","403,932.000",Drama|Romance|Western,...,17104,Shirley Henderson,http://www.imdb.com/title/tt0218378/?ref_=fn_t...,92.000,R,"20,000,000.000","2,000.000",900.000,6.500,141
2887,The Claim,Michael Winterbottom,71.000,115.000,187.000,887.000,Sarah Polley,"14,000.000","403,932.000",Drama|Romance|Western,...,17104,Shirley Henderson,http://www.imdb.com/title/tt0218378/?ref_=fn_t...,92.000,R,"20,000,000.000","2,000.000",900.000,6.500,141
100,The Fast and the Furious,Rob Cohen,187.000,106.000,357.000,"4,000.000",Vin Diesel,"23,000.000","144,512,310.000",Action|Crime|Thriller,...,45327,Jordana Brewster,http://www.imdb.com/title/tt0232500/?ref_=fn_t...,988.000,PG-13,"38,000,000.000","2,001.000","14,000.000",6.700,14000
395,The Fast and the Furious,Rob Cohen,187.000,106.000,357.000,"4,000.000",Vin Diesel,"23,000.000","144,512,310.000",Action|Crime|Thriller,...,45327,Jordana Brewster,http://www.imdb.com/title/tt0232500/?ref_=fn_t...,988.000,PG-13,"38,000,000.000","2,001.000","14,000.000",6.700,14000
2180,The French Connection,William Friedkin,138.000,104.000,607.000,109.000,Fernando Rey,813.000,0.000,Action|Crime|Drama|Thriller,...,1196,Tony Lo Bianco,http://www.imdb.com/title/tt0067116/?ref_=fn_t...,280.000,R,"1,800,000.000","1,971.000",165.000,7.800,0
4226,The French Connection,William Friedkin,138.000,104.000,607.000,109.000,Fernando Rey,813.000,0.000,Action|Crime|Drama|Thriller,...,1196,Tony Lo Bianco,http://www.imdb.com/title/tt0067116/?ref_=fn_t...,280.000,R,"1,800,000.000","1,971.000",165.000,7.800,0
4565,The Full Monty,Peter Cattaneo,122.000,91.000,11.000,121.000,Mark Addy,"1,000.000","45,857,453.000",Comedy|Drama|Music,...,2323,Lesley Sharp,http://www.imdb.com/title/tt0119164/?ref_=fn_t...,174.000,R,"3,500,000.000","1,997.000",891.000,7.200,0
3984,The Full Monty,Peter Cattaneo,122.000,91.000,11.000,121.000,Mark Addy,"1,000.000","45,857,453.000",Comedy|Drama|Music,...,2323,Lesley Sharp,http://www.imdb.com/title/tt0119164/?ref_=fn_t...,174.000,R,"3,500,000.000","1,997.000",891.000,7.200,0
2523,The Illusionist,Neil Burger,236.000,110.000,168.000,96.000,Eddie Marsan,"3,000.000","39,825,798.000",Drama|Mystery|Romance|Thriller,...,4210,Jake Wood,http://www.imdb.com/title/tt0443543/?ref_=fn_t...,645.000,PG-13,"16,000,000.000","2,006.000",979.000,7.600,15000
2533,The Illusionist,Neil Burger,236.000,110.000,168.000,96.000,Eddie Marsan,"3,000.000","39,825,798.000",Drama|Mystery|Romance|Thriller,...,4210,Jake Wood,http://www.imdb.com/title/tt0443543/?ref_=fn_t...,645.000,PG-13,"16,000,000.000","2,006.000",979.000,7.600,15000
63,The Legend of Tarzan,David Yates,248.000,110.000,282.000,103.000,Alexander Skarsgård,"11,000.000","124,051,759.000",Action|Adventure|Drama|Romance,...,21175,Casper Crump,http://www.imdb.com/title/tt0918940/?ref_=fn_t...,239.000,PG-13,"180,000,000.000","2,016.000","10,000.000",6.600,29000
137,The Legend of Tarzan,David Yates,248.000,110.000,282.000,103.000,Alexander Skarsgård,"11,000.000","124,051,759.000",Action|Adventure|Drama|Romance,...,21175,Casper Crump,http://www.imdb.com/title/tt0918940/?ref_=fn_t...,239.000,PG-13,"180,000,000.000","2,016.000","10,000.000",6.600,29000
2771,The Possession,Ole Bornedal,264.000,92.000,30.000,309.000,Madison Davenport,941.000,"49,122,319.000",Horror|Thriller,...,2348,Natasha Calis,http://www.imdb.com/title/tt0431021/?ref_=fn_t...,162.000,PG-13,"14,000,000.000","2,012.000",459.000,5.900,17000
1984,The Possession,Ole Bornedal,264.000,92.000,30.000,309.000,Madison Davenport,941.000,"49,122,319.000",Horror|Thriller,...,2348,Natasha Calis,http://www.imdb.com/title/tt0431021/?ref_=fn_t...,162.000,PG-13,"14,000,000.000","2,012.000",459.000,5.900,17000
187,The Twilight Saga: Breaking Dawn - Part 2,Bill Condon,322.000,115.000,386.000,"12,000.000",Kristen Stewart,"21,000.000","292,298,923.000",Adventure|Drama|Fantasy|Romance,...,59177,Taylor Lautner,http://www.imdb.com/title/tt1673434/?ref_=fn_t...,329.000,PG-13,"120,000,000.000","2,012.000","17,000.000",5.500,65000
174,The Twilight Saga: Breaking Dawn - Part 2,Bill Condon,322.000,115.000,386.000,"12,000.000",Kristen Stewart,"21,000.000","292,298,923.000",Adventure|Drama|Fantasy|Romance,...,59177,Taylor Lautner,http://www.imdb.com/title/tt1673434/?ref_=fn_t...,329.000,PG-13,"120,000,000.000","2,012.000","17,000.000",5.500,65000
214,Total Recall,Paul Verhoeven,196.000,113.000,719.000,217.000,Rachel Ticotin,605.000,"119,412,921.000",Action|Sci-Fi,...,1441,Marshall Bell,http://www.imdb.com/title/tt0100802/?ref_=fn_t...,391.000,R,"65,000,000.000","1,990.000",308.000,7.500,0
656,Total Recall,Paul Verhoeven,196.000,113.000,719.000,217.000,Rachel Ticotin,605.000,"119,412,921.000",Action|Sci-Fi,...,1441,Marshall Bell,http://www.imdb.com/title/tt0100802/?ref_=fn_t...,391.000,R,"65,000,000.000","1,990.000",308.000,7.500,0
4631,Trance,Danny Boyle,393.000,101.000,0.000,888.000,Spencer Wilding,"3,000.000","2,319,187.000",Crime|Drama|Mystery|Thriller,...,5056,Tuppence Middleton,http://www.imdb.com/title/tt1924429/?ref_=fn_t...,212.000,R,"20,000,000.000","2,013.000","1,000.000",7.000,23000
2584,Trance,Danny Boyle,393.000,101.000,0.000,888.000,Spencer Wilding,"3,000.000","2,319,187.000",Crime|Drama|Mystery|Thriller,...,5056,Tuppence Middleton,http://www.imdb.com/title/tt1924429/?ref_=fn_t...,212.000,R,"20,000,000.000","2,013.000","1,000.000",7.000,23000
1220,Unbroken,Angelina Jolie Pitt,322.000,137.000,"11,000.000",465.000,Jack O'Connell,769.000,"115,603,980.000",Biography|Drama|Sport|War,...,2938,Alex Russell,http://www.imdb.com/title/tt1809398/?ref_=fn_t...,351.000,PG-13,"65,000,000.000","2,014.000",698.000,7.200,35000
663,Unbroken,Angelina Jolie Pitt,322.000,137.000,"11,000.000",465.000,Jack O'Connell,769.000,"115,603,980.000",Biography|Drama|Sport|War,...,2938,Alex Russell,http://www.imdb.com/title/tt1809398/?ref_=fn_t...,351.000,PG-13,"65,000,000.000","2,014.000",698.000,7.200,35000
1146,Victor Frankenstein,Paul McGuigan,159.000,110.000,118.000,287.000,Spencer Wilding,"11,000.000","5,773,519.000",Drama|Horror|Sci-Fi|Thriller,...,12876,Daniel Mays,http://www.imdb.com/title/tt1976009/?ref_=fn_t...,91.000,PG-13,"40,000,000.000","2,015.000","1,000.000",6.000,11000
1305,Victor Frankenstein,Paul McGuigan,159.000,110.000,118.000,287.000,Spencer Wilding,"11,000.000","5,773,519.000",Drama|Horror|Sci-Fi|Thriller,...,12876,Daniel Mays,http://www.imdb.com/title/tt1976009/?ref_=fn_t...,91.000,PG-13,"40,000,000.000","2,015.000","1,000.000",6.000,11000
1697,Wicker Park,Paul McGuigan,98.000,114.000,118.000,40.000,Christopher Cousins,489.000,"12,831,121.000",Drama|Mystery|Romance|Thriller,...,679,Mark Camacho,http://www.imdb.com/title/tt0324554/?ref_=fn_t...,298.000,PG-13,"30,000,000.000","2,004.000",93.000,7.000,0
2169,Wicker Park,Paul McGuigan,98.000,114.000,118.000,40.000,Christopher Cousins,489.000,"12,831,121.000",Drama|Mystery|Romance|Thriller,...,679,Mark Camacho,http://www.imdb.com/title/tt0324554/?ref_=fn_t...,298.000,PG-13,"30,000,000.000","2,004.000",93.000,7.000,0

#### Suppression des doublons

In [16]:
data.drop_duplicates(keep='first', inplace=True)

## Enrichissement des données
### Encodage du classement
Nous convertissons le classement de chaîne en valeur numérique pouvant être utilisée pour calculer une distance. À chaque classification nous associons l'âge minimum recommandé (s'il existe) ou estimé par nous.

In [17]:
d = {'G': 0,         # tout public     
     'TV-G': 0,      # tout public
     'TV-Y': 0,      # tout public
     'TV-Y7': 7,
     'PG': 8,        # pas pour enfants trop jeunes
     'TV-PG': 8,     # équivalent à PG    
     'Approved': 10, # film 'moral', mais pas tjs adapté à un jeune public
     'Passed': 10,   # idem
     'PG-13': 13,       
     'TV-14': 14,
     'GP': 14,       # pour adolescents
     'M': 15,        # pas recommandé aux moins de 15 ans
     'R': 17,        # les moins de 17 ans doivent être accompagnés 
     'TV-MA': 17,    # pas adapté aux moins de 17 ans
     'NC-17': 17, 
     'X': 18,
     'Unrated': 18,  # pas de classement
     'Not Rated': 18 # idem
    }
data['content_rating'].replace(to_replace=d, inplace=True)

### Traitement du genre
#### Création d'une colonne indicatrice par genre

In [18]:
genres = set()
for val in data.genres.str.split('|'):
    genres = genres.union(set(val))
print("Liste des genres : " + ", ".join(genres))

Liste des genres : Adventure, History, Sport, Horror, Biography, Short, Drama, Family, Musical, Western, Thriller, Comedy, Action, Documentary, Film-Noir, Reality-TV, Crime, Romance, Music, Sci-Fi, Fantasy, Animation, Game-Show, War, Mystery, News

In [19]:
#s = data['genres'].str.lower() # series contenant les genres
#s = s.str.split('|') # convertit chaque chaîne en une liste de genres
data_genre = data['genres'].str.lower().str.get_dummies('|') # plus simple que MultiLabelBinarizer
data_genre.columns = 'genre_' + data_genre.columns # préfixe commun à toutes ces colonnes
data = data.join(data_genre) # ajoute les colonnes au DataFrame
print(f"Nouvelle taille des données : {data.shape}")

Nouvelle taille des données : (4926, 51)

#### Résultat

In [20]:
filter_cols = [col for col in data if col.startswith('genre_')]
data.loc[0:10, ['genres'] + filter_cols]

,genres,genre_action,genre_adventure,genre_animation,genre_biography,genre_comedy,genre_crime,genre_documentary,genre_drama,genre_family,...,genre_mystery,genre_news,genre_reality-tv,genre_romance,genre_sci-fi,genre_short,genre_sport,genre_thriller,genre_war,genre_western
0,Action|Adventure|Fantasy|Sci-Fi,1,1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1,Action|Adventure|Fantasy,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Action|Adventure|Thriller,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,Action|Thriller,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
5,Action|Adventure|Sci-Fi,1,1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
6,Action|Adventure|Romance,1,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
7,Adventure|Animation|Comedy|Family|Fantasy|Musi...,0,1,1,0,1,0,0,0,1,...,0,0,0,1,0,0,0,0,0,0
8,Action|Adventure|Sci-Fi,1,1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
9,Adventure|Family|Fantasy|Mystery,0,1,0,0,0,0,0,0,1,...,1,0,0,0,0,0,0,0,0,0
10,Action|Adventure|Sci-Fi,1,1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

Nous effaçons les colonnes de genre contenant moins de 6 entrées.

In [21]:
del_cols = [col for col in filter_cols if (data[col].sum() < 6)]
data.drop(labels=del_cols, axis=1, inplace=True, errors='ignore')
print(f"Nouvelle taille des données : {data.shape}")

Nouvelle taille des données : (4926, 47)

In [22]:
data['genre_thriller'].sum()

1381

### Ajout d'une colonne `id` (code imdb)
Nous vérifions la présence de doublons dans cette colonne puis en faisons une clef primaire.

#### Création

In [23]:
data['id'] = data['movie_imdb_link'].str.extract('http://www.imdb.com/title/(tt[0-9]+)/*')
count = data['id'].value_counts()
print(f"Nombre de codes avec doublons : {sum(count[count>1])}")

Nombre de codes avec doublons : 155

#### Liste des doublons

In [24]:
indices = list(count[count>1].index)
print(f"Nombre maximum d'entrées pour un code donné : {max(count[count>1])}")
for idx in indices:
    rows = data.loc[data['id'] == idx] 
    row_diff_count = []
    col_diffs = []
    for i, row in rows[1:].iterrows():
        # compare ligne courante et 1ère ligne
        row_diff_count.append(sum(rows.iloc[0] != row)) 
        col_diffs.append(data.columns.values[rows.iloc[0] != row].tolist())
    print(f"{len(rows)} entrées pour '{rows.iloc[0].movie_title}' "
          f"({idx}) avec {row_diff_count} différences :", col_diffs)

Nombre maximum d'entrées pour un code donné : 3
3 entrées pour 'King Kong' (tt0360717) avec [3, 3] différences : [['num_voted_users', 'cast_total_facebook_likes', 'actor_2_facebook_likes'], ['num_voted_users', 'cast_total_facebook_likes', 'actor_2_facebook_likes']]
3 entrées pour 'Home' (tt2224026) avec [1, 1] différences : [['num_voted_users'], ['num_voted_users']]
3 entrées pour 'Ben-Hur' (tt2638144) avec [5, 6] différences : [['num_voted_users', 'cast_total_facebook_likes', 'plot_keywords', 'budget', 'actor_2_facebook_likes'], ['num_voted_users', 'cast_total_facebook_likes', 'plot_keywords', 'budget', 'actor_2_facebook_likes', 'imdb_score']]
2 entrées pour 'Conan the Barbarian' (tt0082198) avec [1] différences : [['num_voted_users']]
2 entrées pour 'The Astronaut's Wife' (tt0138304) avec [1] différences : [['num_voted_users']]
2 entrées pour 'Syriana' (tt0365737) avec [1] différences : [['num_voted_users']]
2 entrées pour 'First Blood' (tt0083944) avec [1] différences : [['num_voted_users']]
2 entrées pour 'Spider-Man 3' (tt0413300) avec [1] différences : [['num_voted_users']]
2 entrées pour 'Lolita' (tt0056193) avec [3] différences : [['actor_1_facebook_likes', 'num_voted_users', 'cast_total_facebook_likes']]
2 entrées pour 'House of Wax' (tt0397065) avec [2] différences : [['num_voted_users', 'cast_total_facebook_likes']]
2 entrées pour 'Point Break' (tt2058673) avec [1] différences : [['num_voted_users']]
2 entrées pour 'Brothers' (tt0765010) avec [4] différences : [['actor_3_facebook_likes', 'num_voted_users', 'cast_total_facebook_likes', 'actor_3_name']]
2 entrées pour 'Creepshow' (tt0083767) avec [1] différences : [['num_voted_users']]
2 entrées pour 'Skyfall' (tt1074638) avec [1] différences : [['num_voted_users']]
2 entrées pour 'Mercury Rising' (tt0120749) avec [3] différences : [['num_voted_users', 'cast_total_facebook_likes', 'actor_2_facebook_likes']]
2 entrées pour 'A Nightmare on Elm Street' (tt0087800) avec [1] différences : [['num_voted_users']]
2 entrées pour 'Exodus: Gods and Kings' (tt1528100) avec [3] différences : [['num_voted_users', 'cast_total_facebook_likes', 'actor_2_facebook_likes']]
2 entrées pour 'Eddie the Eagle' (tt1083452) avec [1] différences : [['num_voted_users']]
2 entrées pour 'The Great Gatsby' (tt1343092) avec [3] différences : [['actor_3_facebook_likes', 'num_voted_users', 'cast_total_facebook_likes']]
2 entrées pour 'Goosebumps' (tt1051904) avec [1] différences : [['num_voted_users']]
2 entrées pour 'Ghostbusters' (tt1289401) avec [1] différences : [['num_voted_users']]
2 entrées pour 'Twilight' (tt1099212) avec [2] différences : [['num_voted_users', 'cast_total_facebook_likes']]
2 entrées pour 'The Texas Chain Saw Massacre' (tt0072271) avec [1] différences : [['num_voted_users']]
2 entrées pour 'Carrie' (tt1939659) avec [1] différences : [['num_voted_users']]
2 entrées pour 'The Tourist' (tt1243957) avec [1] différences : [['num_voted_users']]
2 entrées pour 'Glory' (tt0097441) avec [1] différences : [['num_voted_users']]
2 entrées pour 'Disturbia' (tt0486822) avec [3] différences : [['actor_3_facebook_likes', 'num_voted_users', 'cast_total_facebook_likes']]
2 entrées pour 'The Day the Earth Stood Still' (tt0970416) avec [1] différences : [['num_voted_users']]
2 entrées pour 'Juno' (tt0467406) avec [1] différences : [['num_voted_users']]
2 entrées pour 'Sabotage' (tt1742334) avec [1] différences : [['num_voted_users']]
2 entrées pour 'Aloha' (tt1243974) avec [1] différences : [['num_voted_users']]
2 entrées pour 'Heist' (tt3276924) avec [1] différences : [['num_voted_users']]
2 entrées pour 'Snakes on a Plane' (tt0417148) avec [3] différences : [['actor_3_facebook_likes', 'num_voted_users', 'cast_total_facebook_likes']]
2 entrées pour 'Casino Royale' (tt0381061) avec [1] différences : [['num_voted_users']]
2 entrées pour 'Murder by Numbers' (tt0264935) avec [3] différences : [['actor_3_facebook_likes', 'num_voted_users', 'cast_total_facebook_likes']]
2 entrées pour 'The Unborn' (tt1139668) avec [1] différences : [['num_voted_users']]
2 entrées pour 'The Fast and the Furious' (tt0232500) avec [1] différences : [['num_voted_users']]
2 entrées pour 'Dawn of the Dead' (tt0363547) avec [1] différences : [['num_voted_users']]
2 entrées pour 'The Gift' (tt4178092) avec [1] différences : [['num_voted_users']]
2 entrées pour 'The Fog' (tt0080749) avec [2] différences : [['num_voted_users', 'cast_total_facebook_likes']]
2 entrées pour 'TRON: Legacy' (tt1104001) avec [2] différences : [['num_voted_users', 'cast_total_facebook_likes']]
2 entrées pour 'Dodgeball: A True Underdog Story' (tt0364725) avec [1] différences : [['num_voted_users']]
2 entrées pour 'Lucky Number Slevin' (tt0425210) avec [1] différences : [['num_voted_users']]
2 entrées pour 'Precious' (tt0929632) avec [3] différences : [['actor_1_facebook_likes', 'num_voted_users', 'cast_total_facebook_likes']]
2 entrées pour 'Side Effects' (tt2053463) avec [1] différences : [['num_voted_users']]
2 entrées pour 'Poltergeist' (tt0084516) avec [1] différences : [['num_voted_users']]
2 entrées pour 'Dekalog' (tt0092337) avec [1] différences : [['num_voted_users']]
2 entrées pour 'Planet of the Apes' (tt0133152) avec [1] différences : [['num_voted_users']]
2 entrées pour 'Teenage Mutant Ninja Turtles' (tt1291150) avec [1] différences : [['num_voted_users']]
2 entrées pour 'Jack Reacher' (tt0790724) avec [1] différences : [['num_voted_users']]
2 entrées pour 'The Last House on the Left' (tt0844708) avec [1] différences : [['num_voted_users']]
2 entrées pour 'The Lovers' (tt1321869) avec [3] différences : [['actor_3_facebook_likes', 'actor_1_facebook_likes', 'cast_total_facebook_likes']]
2 entrées pour 'Halloween' (tt0077651) avec [1] différences : [['num_voted_users']]
2 entrées pour 'The Karate Kid' (tt0087538) avec [1] différences : [['num_voted_users']]
2 entrées pour 'The Gambler' (tt2039393) avec [1] différences : [['num_voted_users']]
2 entrées pour 'Alice in Wonderland' (tt1014759) avec [1] différences : [['num_voted_users']]
2 entrées pour 'Dredd' (tt1343727) avec [1] différences : [['num_voted_users']]
2 entrées pour 'Chasing Liberty' (tt0360139) avec [1] différences : [['cast_total_facebook_likes']]
2 entrées pour 'Victor Frankenstein' (tt1976009) avec [1] différences : [['num_voted_users']]
2 entrées pour 'The Jungle Book' (tt3040964) avec [1] différences : [['num_voted_users']]
2 entrées pour 'The Island' (tt0399201) avec [2] différences : [['num_voted_users', 'cast_total_facebook_likes']]
2 entrées pour 'Day of the Dead' (tt0088993) avec [1] différences : [['num_voted_users']]
2 entrées pour 'RoboCop' (tt1234721) avec [2] différences : [['num_voted_users', 'cast_total_facebook_likes']]
2 entrées pour 'The Omen' (tt0075005) avec [1] différences : [['num_voted_users']]
2 entrées pour 'Clash of the Titans' (tt0800320) avec [1] différences : [['num_voted_users']]
2 entrées pour '20,000 Leagues Under the Sea' (tt0046672) avec [3] différences : [['actor_1_facebook_likes', 'num_voted_users', 'cast_total_facebook_likes']]
2 entrées pour 'The Watch' (tt1298649) avec [3] différences : [['actor_3_facebook_likes', 'num_voted_users', 'cast_total_facebook_likes']]
2 entrées pour 'Oz the Great and Powerful' (tt1623205) avec [1] différences : [['num_voted_users']]
2 entrées pour 'Cinderella' (tt1661199) avec [2] différences : [['num_voted_users', 'num_user_for_reviews']]
2 entrées pour 'The Return of the Living Dead' (tt0089907) avec [1] différences : [['num_voted_users']]
2 entrées pour 'Across the Universe' (tt0445922) avec [1] différences : [['num_voted_users']]
2 entrées pour 'The Lovely Bones' (tt0380510) avec [3] différences : [['num_voted_users', 'cast_total_facebook_likes', 'actor_2_facebook_likes']]
2 entrées pour 'Around the World in 80 Days' (tt0327437) avec [1] différences : [['num_voted_users']]
2 entrées pour 'Pan' (tt3332064) avec [3] différences : [['num_voted_users', 'cast_total_facebook_likes', 'actor_2_facebook_likes']]
2 entrées pour 'Snitch' (tt0882977) avec [1] différences : [['num_voted_users']]
2 entrées pour 'Unknown' (tt1401152) avec [3] différences : [['num_voted_users', 'cast_total_facebook_likes', 'actor_2_facebook_likes']]

#### Examen des colonnes contenant des différences

In [25]:
cols = ['id', 'movie_title', 'num_voted_users', 'cast_total_facebook_likes', 
        'actor_1_facebook_likes' , 'actor_2_facebook_likes', 'actor_3_facebook_likes']
data.sort_values(by=['id', 'num_voted_users'], ascending=False) \
    .loc[data['id'].isin(indices), cols] \
    .head(20)

,id,movie_title,num_voted_users,cast_total_facebook_likes,actor_1_facebook_likes,actor_2_facebook_likes,actor_3_facebook_likes
3704,tt4178092,The Gift,79916,3215,"1,000.000",562.000,458.000
3158,tt4178092,The Gift,79909,3215,"1,000.000",562.000,458.000
3879,tt3332064,Pan,39975,21404,"20,000.000",559.000,394.000
145,tt3332064,Pan,39956,21393,"20,000.000",548.000,394.000
3317,tt3276924,Heist,16198,24154,"22,000.000","1,000.000",558.000
1463,tt3276924,Heist,16193,24154,"22,000.000","1,000.000",558.000
1805,tt3040964,The Jungle Book,106221,32921,"19,000.000","13,000.000",591.000
79,tt3040964,The Jungle Book,106072,32921,"19,000.000","13,000.000",591.000
3967,tt2638144,Ben-Hur,67,13391,"11,000.000",744.000,635.000
2613,tt2638144,Ben-Hur,62,13390,"11,000.000",744.000,635.000
367,tt2638144,Ben-Hur,57,13379,"11,000.000",745.000,635.000
4752,tt2224026,Home,70136,17883,"17,000.000",523.000,183.000
3010,tt2224026,Home,70133,17883,"17,000.000",523.000,183.000
188,tt2224026,Home,70121,17883,"17,000.000",523.000,183.000
2020,tt2058673,Point Break,33958,3962,"1,000.000",897.000,848.000
318,tt2058673,Point Break,33953,3962,"1,000.000",897.000,848.000
4905,tt2053463,Side Effects,148334,18469,"17,000.000",681.000,273.000
1668,tt2053463,Side Effects,148327,18469,"17,000.000",681.000,273.000
4118,tt2039393,The Gambler,48562,3784,"3,000.000",571.000,81.000
1940,tt2039393,The Gambler,48559,3784,"3,000.000",571.000,81.000

Nous décidons pour l'instant d'ignorer ces différences et de ne conserver que l'entrée la plus récente (avec la valeur `num_voted_users` la plus élevée) sans tenter de réaliser une réconciliation plus précise. Si nécessaire nous affinerons ultérieurement notre approche.

#### Suppression des doublons

In [26]:
print(f"Dimensions avant suppression des doublons : {data.shape}")
data.sort_values(by=['id', 'num_voted_users'], ascending=False, inplace=True)
data.drop_duplicates(subset='id', keep='first', inplace=True)
print(f"Dimensions après suppression des doublons : {data.shape}")

Dimensions avant suppression des doublons : (4926, 48)
Dimensions après suppression des doublons : (4847, 48)

#### Désignation de `id` comme index

In [27]:
data.set_index('id', inplace=True)

In [28]:
# Vérification : cette id correspond à 'Planet of the Apes'
data.loc['tt0133152']

director_name                                                       Tim Burton
num_critic_for_reviews                                                 230.000
duration                                                               119.000
director_facebook_likes                                             13,000.000
actor_3_facebook_likes                                                 567.000
actor_2_name                                                    Estella Warren
actor_1_facebook_likes                                               1,000.000
gross                                                          180,011,740.000
genres                                        Action|Adventure|Sci-Fi|Thriller
actor_1_name                                              Cary-Hiroyuki Tagawa
movie_title                                                 Planet of the Apes
num_voted_users                                                         177729
cast_total_facebook_likes                                                 2776
actor_3_name                                                       Erick Avari
plot_keywords                   astronaut|cage|planet|wilhelm scream|year 2029
movie_imdb_link              http://www.imdb.com/title/tt0133152/?ref_=fn_t...
num_user_for_reviews                                                 1,368.000
language                                                               English
country                                                                    USA
content_rating                                                              13
budget                                                         100,000,000.000
title_year                                                           2,001.000
actor_2_facebook_likes                                                 658.000
imdb_score                                                               5.700
movie_facebook_likes                                                         0
genre_action                                                                 1
genre_adventure                                                              1
genre_animation                                                              0
genre_biography                                                              0
genre_comedy                                                                 0
genre_crime                                                                  0
genre_documentary                                                            0
genre_drama                                                                  0
genre_family                                                                 0
genre_fantasy                                                                0
genre_film-noir                                                              0
genre_history                                                                0
genre_horror                                                                 0
genre_music                                                                  0
genre_musical                                                                0
genre_mystery                                                                0
genre_romance                                                                0
genre_sci-fi                                                                 1
genre_sport                                                                  0
genre_thriller                                                               1
genre_war                                                                    0
genre_western                                                                0
Name: tt0133152, dtype: object

### Normalisation des attributs quantitatifs

#### Score

In [29]:
max_score = math.ceil(max(data['imdb_score'])) # actuellement 10
data['adj_imdb_score'] = data['imdb_score'] / max_score
print(f"Nouveau maximum = {max(data['adj_imdb_score'])}")

Nouveau maximum = 0.93

#### Année

In [30]:
min_year = min(data['title_year'])
max_year = max(data['title_year'])
max_age = max_year - min_year # environ 100
print(f"Écart maximum en années : {max_age}") 
data['adj_title_year'] = (data['title_year'] - min_year) / max_age

Écart maximum en années : 89.0

#### Attributs dont le minimum est 0

In [31]:
columns = ['budget', 'director_facebook_likes', 'duration', 
           'gross', 'actor_1_facebook_likes', 'actor_2_facebook_likes',
           'actor_3_facebook_likes', 'movie_facebook_likes', 
           'cast_total_facebook_likes',
           'content_rating', 'num_voted_users']
for col in columns:
    max_val = max(data[col])
    print(f"Valeurs min et max de {col} : {min(data[col])}, {max_val}")
    data['adj_' + col] = data[col] / max_val

Valeurs min et max de budget : 0.0, 12215500000.0
Valeurs min et max de director_facebook_likes : 0.0, 23000.0
Valeurs min et max de duration : 7.0, 511.0
Valeurs min et max de gross : 0.0, 760505847.0
Valeurs min et max de actor_1_facebook_likes : 0.0, 640000.0
Valeurs min et max de actor_2_facebook_likes : 0.0, 137000.0
Valeurs min et max de actor_3_facebook_likes : 0.0, 23000.0
Valeurs min et max de movie_facebook_likes : 0, 349000
Valeurs min et max de cast_total_facebook_likes : 0, 656730
Valeurs min et max de content_rating : 0, 18
Valeurs min et max de num_voted_users : 5, 1689764

## Sauvegarde des données traitées

In [32]:
data.to_csv(output_file, sep='\t')